<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">
  <title>じゃんけんアプリ</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Lec02 GET!</h1>
  <div>Hi <span sec:authentication="name"></span></div>

  <h2>エントリー</h2>
  <ul>
    <li th:each="User : ${userList}">
      <a th:href="@{/lec02/match(id=${User.id})}">
         [[${User.name}]]</a>
    </li>
  </ul>

  <h2>アクティブな試合</h2>
  <p th:if="${matchinfoList}">
  <div th:each="MatchInfo:${matchinfoList}">
    <div th:if="${MatchInfo.isActive == true}">
      <tr>
        <td>id:[[${MatchInfo.id}]]</td>
        <td>user1:[[${MatchInfo.user1}]]</td>
        <td>user2:[[${MatchInfo.user2}]]</td>
        <td>isActive:[[${MatchInfo.isActive}]]</td>
      </tr>
    </div>
  </div>
  </p>

  <h2>試合結果</h2>
  <p th:if="${matchList}">
  <div th:each="Match:${matchList}">
    <tr>
      <td>id:[[${Match.id}]]</td>
      <td>user1:[[${Match.user1}]]</td>
      <td>user2:[[${Match.user2}]]</td>
      <td>user1の手:[[${Match.user1Hand}]]</td>
      <td>user2の手:[[${Match.user2Hand}]]</td>
    </tr>
  </div>
  </p>

  <!--
  <a href="step2?hand=Gu">ぐー</a>
  <a href="step2?hand=Choki">ちょき</a>
  <a href="step2?hand=Pa">ぱー</a>
  <th:block th:switch="${hand}">
    <p th:case=Gu>
      あなたの手 Gu<br>
      相手の手 Gu<br>
      結果 It's a draw
    </p>
    <p th:case=Choki>
      あなたの手 Choki<br>
      相手の手 Gu<br>
      結果 You Lose!
    </p>
    <p th:case=Pa>
      あなたの手 Pa<br>
      相手の手 Gu<br>
      結果 You Win!
    </p>
  </th:block>
  -->
</body>

</html>
