<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">
  <title>じゃんけんアプリ</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Lec02 GET!</h1>
  <p>エントリー</p>

  <ul>
    <li th:each="user : ${room.users}">[[${user}]]</li>
  </ul>

  <p th:if="${userList}">
  <div th:each="User:${userList}">
    <tr>
      <td>ID:[[${User.id}]]</td>
      <td>name:[[${User.name}]]</td>
    </tr>
  </div>
  </p>

  <p>試合情報</p>
  <p th:if="${matchList}">
  <div th:each="Match:${matchList}">
    <tr>
      <td>ID:[[${Match.id}]]</td>
      <td>user1:[[${Match.user1}]]</td>
      <td>user2:[[${Match.user2}]]</td>
      <td>user1Hand:[[${Match.user1Hand}]]</td>
      <td>user2Hand:[[${Match.user2Hand}]]</td>
    </tr>
  </div>
  </p>

  <div>Hi <span sec:authentication="name"></span></div>
  <a href="step2?hand=Gu">ぐー</a>
  <a href="step2?hand=Choki">ちょき</a>
  <a href="step2?hand=Pa">ぱー</a>

  <th:block th:switch="${hand}">
    <p th:case=Gu>
      あなたの手 Gu<br>
      相手の手 Gu<br>
      結果 It's a draw
    </p>
    <p th:case=Choki>
      あなたの手 Choki<br>
      相手の手 Gu<br>
      結果 You Lose!
    </p>
    <p th:case=Pa>
      あなたの手 Pa<br>
      相手の手 Gu<br>
      結果 You Win!
    </p>
  </th:block>
</body>

</html>
