<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>じゃんけんアプリ</title>
</head>

<body>
  <h1>Lec02 GET!</h1>
  <div th:if="${name}">
    <p>Hi [[${name}]]</p>
  </div>
  <a href="lec02janken?hand=Gu">ぐー</a>
  <a href="lec02janken?hand=Choki">ちょき</a>
  <a href="lec02janken?hand=Pa">ぱー</a>

  <th:block th:switch="${hand}">
    <p th:case=Gu>
      あなたの手 Gu<br>
      相手の手 Gu<br>
      結果 It's a draw
    </p>
    <p th:case=Choki>
      あなたの手 Choki<br>
      相手の手 Gu<br>
      結果 You Lose!
    </p>
    <p th:case=Pa>
      あなたの手 Pa<br>
      相手の手 Gu<br>
      結果 You Win!
    </p>
  </th:block>

</body>

</html>
